In [1]:
# importing the dataframe
import pandas as pd
df = pd.read_csv('daily_weather Dataset.csv')
df.head()

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm,Unnamed: 11
0,0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000,NaN
1,1,917.347688,71.403843,101.935179,2.443009,140.471549,3.533324,0.0,0.0,24.328697,19.426597,NaN
2,2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000,NaN
3,3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547,NaN
4,4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000,NaN

In [2]:
# to display last 5 rows
df.tail()

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm,Unnamed: 11
1090,1090,918.90,63.104,192.9,3.869906,207.3,5.212070,0.0,0.0,26.02,38.18,NaN
1091,1091,918.71,49.568,241.6,1.811921,227.4,2.371156,0.0,0.0,90.35,73.34,NaN
1092,1092,916.60,71.096,189.3,3.064608,200.8,3.892276,0.0,0.0,45.59,52.31,NaN
1093,1093,912.60,58.406,172.7,3.825167,189.1,4.764682,0.0,0.0,64.84,58.28,NaN
1094,1094,921.53,77.702,97.1,3.265932,125.9,4.451511,0.0,0.0,14.56,15.10,NaN

In [3]:
# to find the size of a dataframe
df.shape

(1095, 12)

In [4]:
#  to display all column labels of a dataframe
df.columns

Index(['number', 'air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am',
       'relative_humidity_3pm', 'Unnamed: 11'],
      dtype='object')

In [5]:
#returns the number of missing values in the dataframe
df.isnull().sum()

number                       0
air_pressure_9am             3
air_temp_9am                 5
avg_wind_direction_9am       4
avg_wind_speed_9am           3
max_wind_direction_9am       3
max_wind_speed_9am           4
rain_accumulation_9am        6
rain_duration_9am            3
relative_humidity_9am        0
relative_humidity_3pm        0
Unnamed: 11               1095
dtype: int64

In [6]:
# best workflow will be remove things from the dataframe without changing the original dataframe
new_df = df

In [11]:
del new_df['Unnamed: 11']

In [12]:
del new_df['number']

In [13]:
new_df.columns

Index(['air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am',
       'relative_humidity_3pm'],
      dtype='object')

In [14]:
import math

In [15]:
# Data Preprocessing - Handling Missing data by calculating the mean

mean_press_9am = math.floor(new_df['air_pressure_9am'].mean())
new_df['air_pressure_9am'] = new_df['air_pressure_9am'].fillna(mean_press_9am)

mean_temp_9am = math.floor(new_df['air_temp_9am'].mean())
new_df['air_temp_9am'] = new_df['air_temp_9am'].fillna(mean_temp_9am)

mean_avg_dir = math.floor(new_df['avg_wind_direction_9am'].mean())
new_df['avg_wind_direction_9am'] = new_df['avg_wind_direction_9am'].fillna(mean_avg_dir)

mean_avg_spd = math.floor(new_df['avg_wind_speed_9am'].mean())
new_df['avg_wind_speed_9am'] = new_df['avg_wind_speed_9am'].fillna(mean_avg_spd)

mean_max_dir = math.floor(new_df['max_wind_direction_9am'].mean())
new_df['max_wind_direction_9am'] = new_df['max_wind_direction_9am'].fillna(mean_max_dir)

mean_max_spd = math.floor(new_df['max_wind_speed_9am'].mean())
new_df['max_wind_speed_9am'] = new_df['max_wind_speed_9am'].fillna(mean_max_spd)

mean_rain_acc = math.floor(new_df['rain_accumulation_9am'].mean())
new_df['rain_accumulation_9am'] = new_df['rain_accumulation_9am'].fillna(mean_rain_acc)

mean_rain_dur = math.floor(new_df['rain_duration_9am'].mean())
new_df['rain_duration_9am'] = new_df['rain_duration_9am'].fillna(mean_rain_dur)

new_df.head()

,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000
1,917.347688,71.403843,101.935179,2.443009,140.471549,3.533324,0.0,0.0,24.328697,19.426597
2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000
3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547
4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000

In [16]:
new_df.isnull().sum()

air_pressure_9am          0
air_temp_9am              0
avg_wind_direction_9am    0
avg_wind_speed_9am        0
max_wind_direction_9am    0
max_wind_speed_9am        0
rain_accumulation_9am     0
rain_duration_9am         0
relative_humidity_9am     0
relative_humidity_3pm     0
dtype: int64

In [18]:
# Extracting independent variable

X = new_df[['air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am']]
X.head()

,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am
0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000
1,917.347688,71.403843,101.935179,2.443009,140.471549,3.533324,0.0,0.0,24.328697
2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000
3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102
4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000

In [19]:
# Extracting dependent variable

new_df['humidity_3pm'] = (new_df['relative_humidity_3pm'] > 25)*1

In [20]:
y = new_df[['humidity_3pm']]

In [21]:
y.head()

   humidity_3pm
0             1
1             0
2             0
3             0
4             1

In [23]:
X.columns

Index(['air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am'],
      dtype='object')

In [24]:
y.columns

Index(['humidity_3pm'], dtype='object')

In [25]:
X.shape

(1095, 9)

In [26]:
y.shape

(1095, 1)

In [28]:
# Splitting the Dataset into the Training set and Test set

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=10)

In [29]:
# Arranging objects into classes

from sklearn.tree import DecisionTreeClassifier
humidity_classifier = DecisionTreeClassifier(max_leaf_nodes=10, random_state=1)

In [30]:
humidity_classifier.fit(X_train, y_train)

DecisionTreeClassifier(max_leaf_nodes=10, random_state=1)

In [31]:
type(humidity_classifier)

sklearn.tree._classes.DecisionTreeClassifier

In [32]:
y_predicted = humidity_classifier.predict(X_test)
y_predicted[:10]

array([1, 0, 1, 0, 1, 0, 0, 1, 1, 0])

In [33]:
y_test['humidity_3pm'][:10]

596     1
341     1
1089    1
547     0
131     1
124     1
442     0
1088    1
11      1
349     0
Name: humidity_3pm, dtype: int32

In [34]:
# To calculate the accuracy score of the model

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_predicted)*100

87.2340425531915